/* animação do coração */



#coracao {
    display: none;

  }
  
  #coracao:checked + .icone > .heart {
    
    animation: preencher 0.5s forwards; 

  }


  
  @keyframes preencher {
    0% {
      fill: transparent;
    }

    100% {
      fill: #d75a4a;
    }
  }   